body{
  background-color:  blueviolet;
  font-family: "Georgia";
  font-style: italic;
}

.card{
  background-color: rgb(217, 176, 255);
  width: 700px;
  box-sizing: border-box;
  margin: auto;
  
}

.fotoRedonda{
  width: 200px;
  height: 200px;
  border-radius: 150px;
}

